body {
    text-align: center;
    font-family: 'Roboto', 'Vazirmatn', Arial, sans-serif;
    background-color: #343a40;
    color: #fff;
}

canvas {
    max-width: 100%;
    max-height: 700px;
    width: 90%;
    height: 250px !important;
    display: block;
    margin: 0 auto;
}
#processTable-header {
    font-size: 20px;
}
.card {
    background-color: #495057;
    color: #fff;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 10px;
    font-family: 'Roboto', 'Vazirmatn', sans-serif;
}

.card-body {
    background-color: #495057;
    padding: 15px;
}

h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Roboto', 'Vazirmatn', sans-serif;
}
p, table, th, td, button, input {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', 'Vazirmatn', sans-serif;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}

.chart-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#processTable {
    background-color: #495057;
    color: #fff;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#processTable th, #processTable td {
    padding: 10px;
    border-bottom: 1px solid #6c757d;
}

#processTable th {
    background-color: #6c757d;
}

#total_usage {
    background-color: #343a40;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    width: 25%;
    text-align: center;
}

.dataTables_paginate {
    margin-top: 20px;
    text-align: center;
}

.dataTables_paginate .paginate_button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #555;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #007bff;
    color: white;
}

.dataTables_paginate .paginate_button:active {
    background-color: #0056b3;
}

.dataTables_length select {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.dataTables_filter input {
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 5px 10px;
}
